.wrapper {
  position: relative;
  width: 90%;
  height: 400px;
  // background: #eee;
  border-radius: 5px;
  box-shadow: 0 5px 20px -3px rgba(#000, .7);
  list-style: none;
  transition: .1s ease-in-out;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px -3px rgba(#000, .7);
    cursor: pointer;
  }
}