.heading {
  color: #aaa;
  font-size: 35;
  text-align: center;
  margin-top: 20rem;
  margin-bottom: 2rem
}

.paragraph {
  color: #aaa;
  text-align: center
}

.imageWrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 600px;
  z-index: -1
}

.image {
  width: 100%;
}