.logo {
  position: relative;
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: .1rem;
  text-decoration: none;
  color: #eee;

  &::first-letter {
    color: #333;
    font-size: 4rem;
  }
}