.stain {
  position: absolute;
  width: 600px;
  height: 100px;
  z-index: -1;
  transition: .2 ease-in-out;

  &Image {
    width: 100%;
  }
}

.stainLogo {
  @extend .stain;
  top: 2rem;
  left: 0;
}

.stainButton {
  @extend .stain;
  top: 5rem;
  right: 14rem;
}